@charset "UTF-8";

/* 全ての要素のデフォルトスタイルをリセットする(予め余白等が設定されている) */
* {
    /* 余白を削除 */
    margin: 0;
    padding: 0;
    /* リスト記号を削除、リスト記号とはどんなもの？ */
    list-style: none;
}

/* ルート要素(いちばん外側で全体を囲っているhtml要素)に対しての設定 */
html {
    font-size: 100%; 
    /*ブラウザのﾃﾞﾌｫﾙのﾌｫﾝﾄｻｲｽﾞは16px。
    ここで100%と記述するのはﾌｫﾝﾄｻｲｽﾞの基準をブラウザ設定のﾌｫﾝﾄｻｲｽﾞとする為*/
}
/* ページ全体に適用される設定をbodyに記述する */
body {
    font-size: 0.9rem;
    /* remはroot要素に対する大きさの割合を指定する単位
    emという言葉は昔の活版印刷で　M が基準の大きさだったから */
    color: #383e45;
    font-family:
         "Helvetica Neue",/* 欧文フォントmac macの方が美しいとされる為先に書く*/ 
         "Arial",         /* 欧文フォントwin */
         "Hiragino Kaku Gothic ProN",/* 和文フォント(Mac) */
         "Hiragino Sans", /* 新しい日本語用和文フォント(Mac) */
         "Noto Sans JP",    /*Android/ChromeOS用*/
         "Meiryo",                     /* 和文フォント(Win) */
         sans-serif;  /* 総称フォント(最後の保険、ゴシック系なら何でもOK) */
    /* ﾃﾞﾌｫﾙﾄのﾌｫﾝﾄはゴシック体のことが多いが、
    ブラウザによっては明朝体の場合もあるので指定してやる。
    意外とﾌｫﾝﾄは奥深く、どんな環境でも同じ表示になるﾌｫﾝﾄ設定は難しいとのこと
    ※使っているOSによって使用可能なフォントが異なり、特にAndroid端末は
    同じOSでも機種によって違ったりして難しいとのこと
    「serif」とは文字の線の端にある小さな飾り（とめはね）のこと
    「sans-serif」フランス語でwithout：～が無いの意味らしい*/
}
/* リンクに対してのﾌｫﾝﾄ設定、セレクタはアンカーのa */
a {
    color: #f24;
    text-decoration: none;
}
/*画像設定*/
img{
    width:100%;
}