@charset "UTF-8";
/* CSSファイルがUTF-8という文字コードで書かれていることを宣言
CSSにおける「@」は「At-rule」CSSエンジンに対する特殊な指示やmeta情報の目印
C言語におけるプリプロセッサ命令みたいなもの */

/* 全ての要素のデフォルトのスタイルをリセットする(予め余白等が設定されている。) */
*{
/* 「*」は「ユニバーサルセレクタ」HTMLに存在する全ての要素をターゲットにする */
    margin: 0;
    padding: 0;
     /* ブラウザごとに設定されているサイズの異なるデフォ余白を一括で初期化する 。
    ※ブラウザはh2,p,ulなどにデフォルトで余白を付けているので精密なレイアウトに支障*/
    list-style: none;
    /* リスト記号を削除。ulやolにつく・や1.などを削除。デフォルトで設定されているが
    これを削除するのが定石になっている。*/
    box-sizing: border-box;
    /* 箱のサイズ計算時に「パディングと枠線」を含める設定。デフォルトはcontent-box
    width:300px;と設定してもpadding:10px;を足すと320pxになる。
    サイズ計算式content-box:表示幅 = width +padding +border
                border-box:width ={(conntent-border-padding) +padding +border)}
                もしborder:10px;としたら中身が10px縮む*/
}
/* ルート要素（一番外側で全体を囲っているhtml要素＝宇宙）に対しての設定 */
html{
    font-size: 100px;
    /*  */
}